<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated grafo -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="grafo.presentation.GrafoModelWizardID"
            name="%_UI_GrafoModelWizard_label"
            class="grafo.presentation.GrafoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GrafoModelFile.gif">
         <description>%_UI_GrafoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated grafo -->
      <editor
            id="grafo.presentation.GrafoEditorID"
            name="%_UI_GrafoEditor_label"
            icon="icons/full/obj16/GrafoModelFile.gif"
            extensions="grafo"
            class="grafo.presentation.GrafoEditor"
            contributorClass="grafo.presentation.GrafoActionBarContributor">
      </editor>
   </extension>

</plugin>
